@model  CleanAir4You.com.Areas.AccountManagement.Models.BillingViewModel

@{
    ViewBag.Title = "title";
}

<h2>Billing</h2>
@using (Html.BeginForm())
{
    <p>
        Credit Card: @Html.TextBoxFor(x => x.CCNumber)
    </p>
    @Html.HiddenFor(x=>x.Email)

    <input type="submit" value="Register Me"/>
}
