@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CleanAir4You</h1>
    <p class="lead">Want a breath of fresh air?  We'll send you one!</p>
    <p><a href="/JoinUs/JoinUs" class="btn btn-primary btn-lg">Sign Up Today!</a></p>
</div>

