<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CleanAir4You.AccountManagement.Contracts.Public" version="1.0.0" targetFramework="net45" />
  <package id="CleanAir4You.Billing.Contracts.Public" version="1.0.0" targetFramework="net45" />
  <package id="CleanAir4You.Communications.Contracts.Public" version="1.0.0" targetFramework="net45" />
  <package id="NServiceBus" version="5.2.2" targetFramework="net45" />
</packages>